.sidebar {
  display: flex;
  flex-direction: column;
  background-color: #191919;
  height: 1000px;
  width: 20%;
  //   justify-content: center;
  align-items: center;
  .sidebar-top {
    display: flex;
    flex-direction: column;
    // align-items: flex-start;
    // background-color: rgb(80, 124, 80);
    height: 200px;
    width: 100%;
    margin-top: 20px;
    border-bottom: 1px solid rgb(99, 99, 99);
    margin-left: 65px;
    .rows {
      //   display: flex;
      width: 100%;
      //   background-color: rgb(179, 110, 110);
      color: white;
      font-size: 20px;
      margin: 15px 0px;
      padding-left: 20px;
      padding-top: 3px;
      padding-bottom: 5px;
      cursor: pointer;
    }
    .rows:hover {
      background-color: rgb(95, 95, 95);
    }
  }
  .sidebar-bottom {
    display: flex;
    flex-direction: column;
    // align-items: flex-start;
    // background-color: rgb(80, 124, 80);
    height: 200px;
    width: 100%;
    margin-top: 20px;
    margin-left: 65px;

    .rows {
      //   display: flex;
      width: 100%;
      //   background-color: rgb(179, 110, 110);
      color: white;
      font-size: 20px;
      margin: 15px 0px;
      padding-left: 20px;
      padding-top: 3px;
      padding-bottom: 5px;
      cursor: pointer;
    }
    .rows:hover {
      background-color: rgb(95, 95, 95);
    }
  }
}
